better-profanity==0.7.0
decord==0.6.0
fvcore==0.1.5.post20221221
h11==0.16.0
imageio[pyav,ffmpeg]==2.37.0
iopath==0.1.10
ipdb==0.13.13
loguru==0.7.3
modelscope==1.26.0
natten==0.20.1
nltk==3.9.1
opencv-python==4.11.0.86
peft==0.15.2
qwen-vl-utils[decord]==0.0.11
retinaface-py==0.0.2
scikit-image==0.25.2
sentencepiece==0.2.0
termcolor==3.1.0
